<body style="margin-top: 5%">
  <main role="main">
    <div class="container marketing">
      <div id="Entradas">
        <hr class="featurette-divider">
        <h1 class="text-center">Fundación Kinal</h1>
        <div class="container-fluid">
          <button type="button container-fluid" class="btn btn-primary" data-toggle="modal"
            data-target="#modalAgregarEntrada" *ngIf="admin == true">Agregar</button>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette" *ngFor="let ant of antecedentes">
          <div class="col-md-7">
            <h2 class="featurette-heading" style="padding-top: 0px; margin-top: 0px">{{ant.edicion}}</h2>
            <h3 class="featurette-heading" style="padding-top: 0px;margin-top: 0px">{{ant.lugar}}</h3>
            <p class="lead text-justify">{{ant.descripcion}}</p>
            <button type="button" class="btn btn-warning" data-toggle="modal"
              data-target="#modalEditarEntrada" (click)="getAntecedente(ant._id)" *ngIf="admin == true">Editar</button>
            <button type="button" class="btn btn-danger" data-toggle="modal"
              data-target="#modalElimiarEntrada" (click)="getAntecedente(ant._id)" *ngIf="admin == true">Eliminar</button>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" src="https://extension.illinois.edu/stain/stains-hi/235.jpg" alt="" *ngIf="!ant.image">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" src="{{ ant.image}}" alt="" *ngIf="ant.image">
          </div>
          <hr class="featurette-divider">
        </div>
      </div>
    </div>
  </main>

  <!--Agregar Antecedente-->
  <div class="modal fade" id="modalAgregarEntrada" tabindex="-1" role="dialog" aria-labelledby="modalAgregarEntrada"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregarEntrada">Agregar Antecedente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <form>
                  <div class="form-group">
                    <label for="Nombre">NOMBRE</label>
                    <input type="text" class="form-control" id="Edicion" aria-describedby="edicion" name="edicion"
                      #edicion="ngModel" [(ngModel)]="antecedenteModel.edicion"
                      placeholder="Ingrese el nombre del Conferencista">
                  </div>
                  <div class="form-group">
                    <label for="Nombre">LUGAR</label>
                    <input type="text" class="form-control" id="Lugar" aria-describedby="lugar" name="lugar"
                      #lugar="ngModel" [(ngModel)]="antecedenteModel.lugar"
                      placeholder="Ingrese el nombre del Conferencista">
                  </div>
                  <div class="form-group">
                    <label for="Datos">DESCRIPCION</label>
                    <input type="text" class="form-control" id="Datos" name="descripcion" #descripcion="ngModel"
                      [(ngModel)]="antecedenteModel.descripcion" placeholder="Ingrese los datos del Conferencista">
                  </div>
                  <div class="form-group">
                    <label for="Imagen">Imagen</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Seleccione la imagen deseada</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="addAntecedente()">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL DE EDITAR ENTRADA -->
  <div class="modal fade" id="modalEditarEntrada" tabindex="-1" role="dialog" aria-labelledby="modalEditarEntrada"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarEntrada">Editar Conferencista</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <form>
                  <div class="form-group">
                    <label for="Nombre">NOMBRE</label>
                    <input type="text" class="form-control" id="Edicion" aria-describedby="edicion" name="edicion"
                      #edicion="ngModel" [(ngModel)]="antecedenteSeleccionada.edicion"
                      placeholder="Ingrese el nombre del Conferencista">
                  </div>
                  <div class="form-group">
                    <label for="Nombre">LUGAR</label>
                    <input type="text" class="form-control" id="Lugar" aria-describedby="lugar" name="lugar"
                      #lugar="ngModel" [(ngModel)]="antecedenteSeleccionada.lugar"
                      placeholder="Ingrese el nombre del Conferencista">
                  </div>
                  <div class="form-group">
                    <label for="Datos">DESCRIPCION</label>
                    <input type="text" class="form-control" id="Datos" name="descripcion" #descripcion="ngModel"
                      [(ngModel)]="antecedenteSeleccionada.descripcion">
                  </div>
                  <div class="form-group">
                    <label for="Imagen">Imagen</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="fileChangeEvent($event)"
                        aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Seleccione la imagen deseada</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="updateAntecedente(antecedenteSeleccionada._id)">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL ELIMIAR Entrada -->
  <div class="modal fade" id="modalElimiarEntrada" tabindex="-1" role="dialog" aria-labelledby="modalElimiarEntrada"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalElimiarEntrada">Eliminar Conferencista</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro que quiere eliminar la edicion <strong>{{antecedenteSeleccionada.edicion}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="deleteAntecedente(antecedenteSeleccionada._id)">Si</button>
        </div>
      </div>
    </div>
  </div>
</body>