<!-- <footer class="footer" style="background-color: #000f16">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                    <li><i class="fa fa-instagram"></i></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim and Erick Bran
                </span>
            </div>
        </div>
    </div>
</footer> -->

<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row justify-content-md-center">        
          <div class="col-md-4">
            <div class="footer-pad">
              <h4>Contáctanos</h4>
              <br>
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-phone"></i> (502) 22 16 00 99</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> info@kinal.org.gt</a></li>
              </ul>
            </div>
        </div>        
        <div class="col-md-4">          
          <h4>Redes Sociales</h4>
          <br>
          <ul class="social-network social-circle">
           <li><a href="https://www.facebook.com/kinal.gt/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>               
           <li><a href="https://www.instagram.com/fundacionkinal/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
           <li><a href="https://wa.me/50249356952" class="icoWhatsapp" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
           <li><a href="https://www.waze.com/ul?preview_venue_id=176619666.1765934519.2155352&navigate=yes" class="icoWaze" title="Waze"><i class="fab fa-waze"></i></a></li>
          </ul>				
      </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center"> © {{test | date: 'yyyy'}}, creado por Erick Bran</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>