<div class="page-header" data-parallax="true" style="
background-image: url('https://images-expokinal2019.s3.amazonaws.com/kinal-20-DJI_0435-min.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Fundación Kinal</h1>
      <h3 class="kinal">El trabajo bien hecho</h3>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">¿Quiénes somos?</h2>
          <h5 class="description text-justify">

            Kinal es un centro educativo técnico integral y de formación humanas para jóvenes y
            adultos, desde los 12 años hasta los técnicos hasta los técnicos superiores. Se les enseña a ser más
            eficientes en la ejecución de sus respectivos trabajos, a crecer personalmente, y a contribuir e influir
            positivamente en sus familias y su comunidad. El centro educativo está abierto a toda persona, sin
            discriminación de tipo ideológico, económico, social o religioso.
            <br />
            Kinal significa en idioma maya, lugar de la luz o regular de la iluminación.
          </h5>
          <br>
        </div>
      </div>
      <br /><br />
      <div class="row justify-content-md-center">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-trophy"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Misión</h4>
              <p class="description text-justify">Formar a jóvenes y adultos a través de una educación integral con énfasis en las
                áreas técnicas, influyendo positivamente en su trabajo, su familia y la sociedad.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Visión</h4>
              <p class="description text-justify">Ser líderes en la forma técnica tecnológica y humana de la región, brindando una excelente preparación
                integral a jóvenes y adultos, logrando su superación personal y profesional.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-satisfied"></i>
            </div>
            <div class="description">
              <h4 class="info-title ">Valores</h4>
              <ul class="text-left">
                <li >
                    Visión cristiana de la vida
                </li>
                <li>
                    Respeto a la dignidad de la persona
                </li>
                <li>
                    Espíritu de servicio
                </li>
                <li>
                    Libertad personal responsable
                </li>                
              </ul>
              <!-- <p class="description text-justify"></p> -->
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">¿Cómo llegar?</h2>
      <div class="row">
        <div class="col-md-6">
            <div style="height: 300px;"
            leaflet 
            [leafletOptions]="options"
            [leafletLayers]="markers">
        </div>
        </div>
        <div class="col-md-2">
          <div class="card card-profile card-plain">
            <ul class="social-network social-circle">
              <li><a  class="icoLocation" title="Waze"><i class="fa fa-map-marker" style="font-size: 50px"></i></a></li>
          </ul>  
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Dirección</h4>
                </div>
              </a>
              <p class="card-description text-center">
                6ta Avenida 12-54 Zona 7, Colonia Landívar Ciudad de Guatemala, Guatemala
                </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card card-profile card-plain">
              <ul class="social-network social-circle">
                  <li><a href="https://www.waze.com/ul?preview_venue_id=176619666.1765934519.2155352&navigate=yes" class="icoWaze" title="Waze"><i class="fab fa-waze" style="font-size: 50px"></i></a></li>
              </ul>          
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Con Waze</h4>
                </div>                
              </a>
              
              
            </div>
          </div>
        </div>

        

        <div class="col-md-2">
          <div class="card card-profile card-plain">
              <ul class="social-network social-circle">
                  <li><a href="https://goo.gl/maps/uMs8vPaSjN6vJyvU8" class="icoMaps" title="Waze"><i class="fas fa-map" style="font-size: 50px"></i></a></li>
              </ul>          
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Con Google Maps</h4>
                </div>
              </a>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
        <h2 class="title text-center">Partners Kinal</h2>
        <div class="slider">
            <div class="slide-track">
              <div class="slide">
                <img style="margin-top: 54px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/2000px-Autodesk_Logo.svg.png" height="42" width="250" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/authorized-of-ets-educational-training-services-500x500.jpg" height="99" width="250" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px; margin-left: 50px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/cisco-networking-academy.png" height="100" width="100" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 37px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/cr%3Dw_1136%2Ch_568.png" height="75" width="150" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 15px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/Honda-Logo.jpg" height="130" width="200" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 15px; margin-left: 50px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/image.jpeg" height="125" width="150" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 32px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/Oracle-Academy.jpg" height="63" width="250" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px; margin-left: 50px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/s.jpg" height="100" width="100" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px;" src="https://imagenes-walc2019.s3.amazonaws.com/partners/unis.png" height="100" width="100" alt="" />
              </div>
              <div class="slide">
                <img  style="margin-top: 56px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/VMW_09Q3_LGO_VMwareITAcademy_K.jpg" height="37" width="250" alt="" />
              </div> 
              <div class="slide">
                <img style="margin-top: 54px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/2000px-Autodesk_Logo.svg.png" height="42" width="250" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/authorized-of-ets-educational-training-services-500x500.jpg" height="99" width="250" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px; margin-left: 50px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/cisco-networking-academy.png" height="100" width="100" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 37px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/cr%3Dw_1136%2Ch_568.png" height="75" width="150" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 15px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/Honda-Logo.jpg" height="130" width="200" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 15px; margin-left: 50px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/image.jpeg" height="125" width="150" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 32px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/Oracle-Academy.jpg" height="63" width="250" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px; margin-left: 50px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/s.jpg" height="100" width="100" alt="" />
              </div>
              <div class="slide">
                <img style="margin-top: 25px;" src="https://imagenes-walc2019.s3.amazonaws.com/partners/unis.png" height="100" width="100" alt="" />
              </div>
              <div class="slide">
                <img  style="margin-top: 56px" src="https://imagenes-walc2019.s3.amazonaws.com/partners/VMW_09Q3_LGO_VMwareITAcademy_K.jpg" height="37" width="250" alt="" />
              </div>
            </div>
          </div>
    </div>
  </div>
</div>