<div class="page-header "  data-parallax="true" style="
background-image: url('https://imagenes-walc2019.s3.amazonaws.com/WALC_LANDINGPAGE-01.png');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover">

    <div class="container">
        <div class="motto text-center">
            <!-- <h1 style="color: #e7cf26">WORKSHOP PARA AMÉRICA LATINA Y EL CARIBE (WALC)</h1>
          <h3  style="color: #e7cf26">Start designing your landing page here.</h3>
          <br />
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"  style="color: #e7cf26; border-color: #e7cf26"><i class="fa fa-play"></i>Watch video</a>
          <button type="button" class="btn btn-outline-neutral btn-round" style="color: #e7cf26; border-color: #e7cf26">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">WALC "INNOVATION & TECHNOLOGY"</h2>
                    <h5 class="description">Fundación Kinal anfitrión de WALC 2019 taller de inmersión total, donde
                        personas profesionales de América Latina y el Caribe participan en el desarrollo práctico de
                        nuevos conocimientos y habilidades en el área de tecnología de información y comunicación.
                        WALC se realiza a lo largo de una semana y consta de seis tracks de los cuales es permitido
                        inscribirse a uno según sea el tema de interés.
                    </h5>
                    <br>
                    <a href="http://eslared.net/walc2019/?page_id=2&lang=es_ES" class="btn btn-warning btn-round">Ver
                        más</a>
                </div>
            </div>
            <br /><br />


        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Información sobre los Tracks</h2>
            <div class="row">
                <!-- #1 Hands of IPV6 -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-tap-01" style="font-size: 7em;"></i>
                        </div>
                        <div class="card-block">
                            <a routerLink="/track/5d3e0f167c213e1b35df9cf3">
                                <div class="author">
                                    <h4 class="card-title">Hands on IPv6</h4>
                                </div>
                            </a>
                            <p class="card-description text-justify">
                                Dirigido a administradores de redes que deseen familiarizarse con alta disponibilidad y
                                virtualización de servidores. El curso se divide en despliegue de IPv6 que aborda el
                                host final o red de usuario, la infraestructura de red y por último los servidores. La
                                segunda parte trata los conceptos avanzados de IPv6 desde un punto de vista
                                eminentemente teórico.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/track/5d3e0f167c213e1b35df9cf3"
                                class="btn btn-outline-warning btn-round">Ver más</a>
                        </div>
                    </div>
                </div>
                <!-- #2 Gestión y monitoreo de redes -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-sound-wave" style="font-size: 7em;"></i>
                        </div>
                        <div class="card-block">
                            <a routerLink="/track/5d3e134f7c213e1b35df9d85">
                                <div class="author">
                                    <h4 class="card-title">Gestión y monitoreo de redes</h4>
                                </div>
                            </a>
                            <p class="card-description text-justify">
                                El objetivo de este taller es que los estudiantes tengan la capacidad de realizar la
                                instalación de paquetes y tareas básicas de administración utilizando comandos de Linux,
                                comprender conceptos de gestión y monitoreo de redes que usan IPv4 y IPv6, Instalar y
                                configurar LibreNMS para realizar monitoreo y vigilancia de la red en forma
                                automatizada. Los temas a desarrollar serán la introducción a la gestión y monitoreo de
                                las redes, temas potenciales como introducción a Linux, Fundamentos de TCP/IP, SNMP,
                                Centro de operaciones de la red (NOC), Documentación de las Redes: Netdot, entre otros
                                temas.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/track/5d3e134f7c213e1b35df9d85"
                                class="btn btn-outline-warning btn-round">Ver más</a>
                        </div>
                    </div>
                </div>
                <!-- #3 Seguridad Informática -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-lock-circle-open" style="font-size: 7em;"></i>
                        </div>
                        <div class="card-block">
                            <a routerLink="/track/5d3e13117c213e1b35df9d78">
                                <div class="author">
                                    <h4 class="card-title">Seguridad Informática</h4>
                                </div>
                            </a>
                            <p class="card-description text-justify">
                                El taller de seguridad informática ofrece como objetivo obtener una panorámica general
                                de las principales líneas de trabajo en Seguridad Informática. Entre los temas a tratar
                                se tiene la seguridad en móviles, técnicas criptográficas, aseguramiento de servicios
                                unix, seguridad inalámbrica, gestión de la seguridad, firewalls de nueva generación.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/track/5d3e13117c213e1b35df9d78"
                                class="btn btn-outline-warning btn-round">Ver más</a>
                        </div>
                    </div>
                </div>

                <!-- #4 Internet de las cosas (IOT) -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="icon icon-warning">
                            <!-- <i class="nc-icon nc-mobile" style="font-size: 7em;"></i> -->
                            <i class="nc-icon nc-globe" style="font-size: 7em;"></i>
                        </div>
                        <div class="card-block">
                            <a routerLink="/track/5d3e136c7c213e1b35df9d86">
                                <div class="author">
                                    <h4 class="card-title">Internet de las cosas (IOT)</h4>
                                </div>
                            </a>
                            <p class="card-description text-justify">
                                Los asistentes obtendrán una visión general de los aspectos principales que componen un
                                sistema de internet de las cosas. Entre los temas a estudiar y aplicar se encuentra la
                                introducción a IoT, tipos de sensores, introducción al lenguaje Python, Node-Red,
                                InfluxDB, Grafana herramienta para monitoria y análisis.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/track/5d3e136c7c213e1b35df9d86"
                                class="btn btn-outline-warning btn-round">Ver más</a>
                        </div>
                    </div>
                </div>
                <!-- #5 Redes comunitarias -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="icon icon-warning">
                            <!-- <i class="nc-icon nc-world-2" style="font-size: 7em;"></i> -->
                            <i class="nc-icon nc-vector" style="font-size: 7em;"></i>
                        </div>
                        <div class="card-block">
                            <a routerLink="/track/5d39e141e7179a064fa91633">
                                <div class="author">
                                    <h4 class="card-title">Redes comunitarias</h4>
                                </div>
                            </a>
                            <p class="card-description text-justify">
                                Esta capacitación se llevará a cabo a través de una combinación de elementos teóricos y
                                prácticos, en las herramientas y técnicas para aplicar en redes comunitarias, con
                                énfasis en la utilización de soluciones de bajo costo y adecuadas para zonas rurales y
                                urbanas. Los cursos que se abordarán los siguientes temas: Redes comunitarias, modelos
                                de actividad, experimentación con diversas tecnologías de acceso y transporte,
                                gobernanza, desarrollo de casos individuales
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/track/5d39e141e7179a064fa91633"
                                class="btn btn-outline-warning btn-round">Ver más</a>
                        </div>
                    </div>
                </div>
                <!-- #6 Computación en la nube y Big Data-->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-cloud-download-93" style="font-size: 7em;"></i>
                        </div>
                        <div class="card-block">
                            <a routerLink="/track/5d3e13a97c213e1b35df9d8c">
                                <div class="author">
                                    <h4 class="card-title">Computación en la nube y Big Data</h4>
                                </div>
                            </a>
                            <p class="card-description text-justify">
                                Se capacitara a los estudiantes a través de una combinación de elementos teóricos y
                                prácticos en los aspectos fundamentales de la computación en la nube y Big Data, el
                                taller está dirigido a profesionales en TIC y personas que deseen familiarizarse con
                                conceptos básicos de computación en la nube e identificación asociados a Big Data.
                                Dentro del contenido a estudiar se podrá encontrar conceptos básicos, modelos de
                                servicio y despliegue, redes para computación en la nube, captura y análisis de
                                conjuntos de datos, ciberseguridad, IoT, Inteligencia de negocios.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/track/5d3e13a97c213e1b35df9d8c"
                                class="btn btn-outline-warning btn-round">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section">
            <div class="container">
                    <h2 class="title text-center">Patrocinadores Internacionales</h2>

                <div class="slider">
                    <div class="slide-track">
                        <div class="slide" *ngFor="let patro of patrocinadoresInter">
                            
                            <img [ngClass]="{'top-margen': patro.height < 120 }" src="{{patro.image}}" height="{{patro.height}}" width="{{patro.width}}"/>
                           
                            
                        </div>
                        <div class="slide" *ngFor="let patro of patrocinadoresInter">
                                <img [ngClass]="{'top-margen': patro.height < 120 }" src="{{patro.image}}" height="{{patro.height}}" width="{{patro.width}}" />
                        </div>
                        
                    </div>
                </div>

                <h2 class="title text-center">Patrocinadores Nacionales</h2>

                <div class="slider2">
                    <div class="slide-track">
                        <div class="slide" *ngFor="let patro of patrocinadoresNacionales">
                            
                            <img [ngClass]="{'top-margen': patro.height < 120 }" src="{{patro.image}}" height="{{patro.height}}" width="{{patro.width}}"/>
                           
                            
                        </div>
                        <div class="slide" *ngFor="let patro of patrocinadoresNacionales">
                                <img [ngClass]="{'top-margen': patro.height < 120 }" src="{{patro.image}}" height="{{patro.height}}" width="{{patro.width}}" />
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</div>