<!-- <div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12">
      <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
    </form>   
  </div>
</div> -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Información del Evento</h1>
  <div class="lead">
    <ul class="list-unstyled mt-3 mb-4">
      <li><strong>Fecha del Evento: </strong>Del 11 al 15 de noviembre</li>
      <li><strong>Inversión: </strong>$390</li>
      <li><strong>Beneficios: </strong>Material, almuerzo, coffee breack y diploma avalado por Fundación Kinal y EsLaRed.</li>      
    </ul>
    <p><strong>* Para antiguos alumnos y estudiantes en general habrán descuentos especiales.</strong></p>
  </div>
  <hr>
  <h1 class="display-4">¿Quieres patrocinar nuestro evento?</h1>
</div>

<div class="container">
  <div class="card-deck text-center">
    <div class="card mb-3 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Bronce</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Q5,000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Redes Sociales</li>
          <li>Página de internet local e internacional</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
      </div>
    </div>
    <div class="card mb-3 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Plata</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Q10,000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Beneficios bronce</li>
          <li>Cobertura en cines</li>
          <li>1 plaza</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
      </div>
    </div>
    <div class="card mb-3 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Oro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Q20,000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Beneficios plata</li>
          <li>Cobertura en canales locales</li>
          <li>Back de conferencia de prensa</li>
          <li>2 Plazas</li>
          <li>Acceso a base de datos de participantes</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> -->
      </div>
    </div>
    <div class="card mb-3 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Platinum</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title" >Q30,000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Beneficios oro</li>
          <li>Salón con nombre de patrocinador</li>
          <li>Espacio para stand</li>
          <li>3 plazas</li>
          <li>Acceso a base de datos de participantes</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button> -->
      </div>
    </div>
  </div>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <p class="lead">
      Con tu aporte contribuyes directamente a la educación de jóvenes de escasos recursos.
      <br>
      <strong>Contacta con nosotros:</strong> walc2019@kinal.org.gt
    </p>
  </div>
</div>  