.navbar-default .navbar-nav .nav-item .nav-link:not(.btn):hover{
    color: #e7cf26
}

.btn-info.btn-link {
    color: #e7cf26
}

.navbar .navbar-brand{
    color: #FFFFFF;
}
.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn){
    color: #9A9A9A;
}